# =========================
# Python
# =========================
.venv/
__pycache__/
*.py[cod]
.pytest_cache/

# =========================
# Environment Variables
# =========================
.env
**/.env

# =========================
# Database Files
# =========================
*.db
*.sqlite3

# =========================
# Backend Uploads
# =========================
backend/uploads/

# =========================
# Next.js
# =========================
frontend/node_modules/
frontend/.next/
frontend/out/

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# Logs
# =========================
*.log

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db